.pioenvs
.piolibdeps
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/*.db
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/visualstudiocode
.vscode/.browse.c_cpp.db*
